body {
  color: #fff;
  /* overflow-x: hidden; */
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-size: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}

.row {
  display: flex;
  flex: 1;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 230px);
}

blockquote {
  color: #000;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

input {
  text-decoration: none;
  max-width: 100%;
  width: 230px;
  margin: 10px auto;
  padding: 16px;
  text-align: center;
  background: #000;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0;
  box-shadow: 0 0 5px #eee;
  cursor: pointer;
  max-width: 100%;
  box-sizing: border-box;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:disabled {
  background: gray;
}

button,
.button {
  text-decoration: none;
  max-width: 100%;
  width: 230px;
  margin: 10px auto;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0;
  box-shadow: 0 0 5px #eee;
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  opacity: 0.7;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 5px #eee;
  opacity: 1;
}

.button-join-game {
  padding: 4px 8px;
  margin: 4px;
}

.inline-button {
  position: relative;
}

.inline-button input {
  text-align: left;
  padding-right: 90px;
}

.inline-button button {
  padding: 4px 6px;
  font-size: 13px;
  width: auto;
  position: absolute;
  top: 50%;
  right: 8px;
  margin: 0;
  transform: translateY(-50%);
}

.mobile-helper {
  display: none;
}

.game-helper {
  text-align: center;
  font-style: italic;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-big-title {
  color: #fff;
  text-shadow: 3px 3px #26a0da;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.sidebar {
  padding: 32px 24px;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.app {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-language {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  border-radius: 4px;
}

.select-language strong {
  cursor: pointer;
  color: #3b82f6;
  font-size: 12px;
}

.max-screen-container {
  width: 100%;
  height: calc(100vh - 80px);
  min-height: calc(100% - 48px);
  padding: 24px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.game-container {
  max-width: 1340px;
  width: 100%;
  height: calc(100vh - 40px);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: 4fr 1fr;
  place-items: center;
  grid-template-areas: "gameBoard gameInfo";
}

.main-board {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-size: 300px auto;
  background-position: center 75px;
  background-repeat: no-repeat;
  background-image: url(assets/images/bg-head.png);
  position: relative;
}

.chat-board {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-size: 300px auto;
  background-position: center 75px;
  background-repeat: no-repeat;
  background-image: url(assets/images/bg-head.png);
  position: relative;
}

.rank-board {
  background-color: #000;
}

.game-board .game-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.6);
}

.game-board.game-pending .game-info * {
  display: none;
}

.game-board.game-pending .game-info #count-down-pending-timing,
.game-board.game-ready .game-info #count-down-pending-timing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.game-board.game-pending .battle-rule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
}

.game-board.game-pending .game-info .battle-rule * {
  display: block;
  margin: 8px;
}

.game-board.game-running .game-info {
  display: none;
}

.game-board {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #26a0da;
  border-radius: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/images/bg-pikachu.jpeg);
  position: relative;
  grid-area: gameBoard;
  background-color: #000;
}

.game-completed.game-board {
  background: #000;
}

.game-completed .game-info {
  display: flex;
}

.game-completed .overlay-pending-timing {
  display: none;
}

.game-completed .game-score {
  text-align: center;
  color: #fff;
}

.game-control {
  padding: 16px;
  grid-area: gameInfo;
}

.game-title {
  text-align: center;
  text-shadow: 2px 2px #26a0da;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

.game-pokemon {
  display: grid;
  grid-template-columns: repeat(10, calc(100% / 10));
  place-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.game-overlay {
  display: grid;
  grid-template-columns: repeat(10, calc(100% / 10));
  place-items: stretch;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.game-overlay.freezing-board {
  z-index: 9999;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.game-overlay.freezing-board::before {
  content: "Freezing";
  width: 100%;
  height: 100%;
  font-size: 40px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px #26a0da;
  box-shadow: inset 0 0 2000px 500px rgba(38, 160, 218, 0.5);
  filter: blur(10px);
}

.game-overlay.freezing-board::after {
  content: "Freezing";
  width: 100%;
  height: 100%;
  font-size: 40px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px #26a0da;
}

.board-3x4 {
  grid-template-columns: repeat(6, calc(100% / 6));
}

.board-4x4 {
  grid-template-columns: repeat(6, calc(100% / 6));
}

.board-4x5 {
  grid-template-columns: repeat(7, calc(100% / 7));
}

.board-4x6 {
  grid-template-columns: repeat(8, calc(100% / 8));
}

.board-4x7 {
  grid-template-columns: repeat(9, calc(100% / 9));
}

.board-6x8 {
  grid-template-columns: repeat(10, calc(100% / 10));
}

.board-7x8 {
  grid-template-columns: repeat(10, calc(100% / 10));
}

.board-8x8 {
  grid-template-columns: repeat(10, calc(100% / 10));
}

.board-8x9 {
  grid-template-columns: repeat(11, calc(100% / 11));
}

.board-8x10 {
  grid-template-columns: repeat(12, calc(100% / 12));
}

.board-8x11 {
  grid-template-columns: repeat(13, calc(100% / 13));
}

.board-8x12 {
  grid-template-columns: repeat(14, calc(100% / 14));
}
.board-9x12 {
  grid-template-columns: repeat(14, calc(100% / 14));
}

.board-10x12 {
  grid-template-columns: repeat(14, calc(100% / 14));
}

.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #26a0da;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}

.pokemon-card.selected {
  background-color: #314755 !important;
  box-shadow: inset 0 0 10px 5px #bfdbfe;
}
.pokemon-card.hidden {
  opacity: 0;
}

.pokemon-card img {
  height: 40px;
}

.line-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: transparent;
  position: relative;
  transition: all 2s;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.line-card.suggested {
  box-shadow: inset 0 0 5px 5px #fff;
  animation: blinker 1s linear infinite;
}

.line-card::before,
.line-card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  background-color: #60a5fa;
  z-index: 100;
}

.line-card.in-line::before {
  display: block;
  background-color: #60a5fa;
}

.line-card.top-direction::before {
  width: 4px;
  height: calc(100% + 2px);
  transform: translate(-50%, 0);
}

.line-card.bottom-direction::before {
  width: 4px;
  height: calc(100% + 2px);
  transform: translate(-50%, -100%);
}

.line-card.right-direction::before {
  width: calc(100% + 2px);
  height: 4px;
  transform: translate(-100%, -50%);
}

.line-card.left-direction::before {
  width: calc(100% + 2px);
  height: 4px;
  transform: translate(0, -50%);
}

.line-card.start-point::after {
  background-color: #bfdbfe;
}

.line-card.end-point::after {
  background-color: #3b82f6;
}

.line-card.start-point::after,
.line-card.end-point::after {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  z-index: 200;
}

.rank-list {
  padding-right: 40px;
  overflow: auto;
}

.rank-list li {
  border-bottom: 1px solid #3b82f6;
  padding: 8px;
}

.chat-room {
  width: 100%;
  height: 100%;
}

.chat-container {
  padding: 16px;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  margin: 0 -8px;
}

.chat-box-container,
.active-players-box,
.active-boxes {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #3b82f6;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgba(2, 0, 36, 0.3);
  margin: 0 8px;
  box-sizing: border-box;
}

.active-boxes {
  justify-content: space-between;
}

.active-boxes h3 {
  margin: 0;
}

.active-players-box {
  flex: 0 0 49%;
  overflow: auto;
}

.active-boxes {
  flex: 0 0 30%;
  overflow: auto;
}

.active-players-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.active-player {
  border-bottom: 1px solid #26a0da;
  padding: 6px 0;
  line-height: 1.5;
  font-size: 14px;
  cursor: pointer;
}

.active-player * {
  display: block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.messages-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.message {
  margin-bottom: 8px;
  align-self: flex-start;
  line-height: 1.5;
  font-size: 14px;
}

.message.self {
  align-self: flex-end;
  text-align: right;
}

.message * {
  display: block;
}

.message-name {
  color: rgb(48, 39, 109);
  display: inline-flex;
}

.message-name em {
  margin: 0 6px;
}

.message.self .message-name {
  color: rgb(23, 109, 62);
  flex-direction: row-reverse;
}

.message-content {
  background: rgba(0, 0, 0, 0.16);
  padding: 8px;
  border-radius: 8px;
  margin: 4px 0;
}

.message-content em {
}

.message-date {
  color: #000;
}

.chat-box form,
.chat-box input {
  width: 100%;
}

.toggle-sound-effect i {
  transition: all 0.2s;
}

.icono-volumeDecrease:after,
.icono-volumeDecrease:before,
.icono-volumeHigh:after,
.icono-volumeHigh:before,
.icono-volumeIncrease:after,
.icono-volumeIncrease:before,
.icono-volumeLow:before,
.icono-volumeMedium:before,
.icono-volumeMute:after,
.icono-volumeMute:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

i.icono-volumeHigh:after,
i.icono-volumeHigh:before,
i.icono-volumeLow:before,
i.icono-volumeMedium:before {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  left: 2px;
}

i.icono-volumeHigh:before,
i.icono-volumeMedium:before {
  border-style: double;
  border-width: 6px;
  left: -2px;
}

.icono-volumeIncrease:after,
.icono-volumeMute:after {
  height: 10px;
  width: 2px;
  left: 21px;
}

.icono-volumeMute:after,
.icono-volumeMute:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.icono-volumeDecrease:before,
.icono-volumeIncrease:before,
.icono-volumeMute:before {
  width: 10px;
  height: 2px;
  left: 17px;
}

.icono-volumeDecrease:after,
.icono-volumeDecrease:before,
.icono-volumeIncrease:after,
.icono-volumeIncrease:before,
.icono-volumeMute:after,
.icono-volumeMute:before {
  box-shadow: inset 0 0 0 32px;
  color: rgb(2, 0, 36);
}

.icono-music:after,
.icono-music:before {
  box-shadow: inset 0 0 0 32px, 16px 0 0 0;
  position: absolute;
}

.icono-music:before {
  width: 2px;
  height: 16px;
  left: 0;
  top: 4px;
}

.icono-music:after {
  width: 10px;
  height: 8px;
  left: -8px;
  top: 17px;
  border-radius: 50%;
}

i[class*="icono-"]:after,
i[class*="icono-"]:before {
  content: "";
  pointer-events: none;
}

.icono-volume,
.icono-volumeDecrease,
.icono-volumeHigh,
.icono-volumeIncrease,
.icono-volumeLow,
.icono-volumeMedium,
.icono-volumeMute {
  width: 0;
  height: 0;
  border: 7px solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 6px 3px;
  box-shadow: inset 4px 0;
  margin: 4px 10px 4px 11px;
}

.icono-volumeDecrease,
.icono-volumeIncrease,
.icono-volumeMute {
  margin: 4px 16px 4px 5px;
}

i.icono-volumeHigh,
i.icono-volumeMedium {
  margin: 4px 16px 4px 5px;
}

i.icono-music {
  width: 18px;
  height: 6px;
  -webkit-transform: skewY(-15deg);
  transform: skewY(-15deg);
  box-shadow: inset 0 0 0 32px;
  border-radius: 2px 2px 0 0;
  margin: 4px 5px 24px 11px;
}

i[class*="icono-"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: white;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
}

i[class*="icono-"],
i[class*="icono-"] * {
  box-sizing: border-box;
  transition: all 0.25s;
}

.toggle-sound-effect {
  position: fixed;
  right: 16px;
  top: 60px;
  margin-top: 24px;
  cursor: pointer;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 6px;
  border-radius: 6px;
}

.toggle-music-effect {
  position: fixed;
  right: 16px;
  top: 140px;
  margin-bottom: 24px;
  cursor: pointer;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 6px;
  border-radius: 6px;
}

i.icono-black,
i.icono-volumeMute {
  color: rgb(2, 0, 36);
}

.clickable {
  cursor: pointer;
}

.service-status {
  width: 100%;
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
}

.game-theme {
  position: fixed;
  z-index: -100;
  opacity: 0 !important;
  visibility: hidden !important;
}

.game-theme > div {
  opacity: 0 !important;
  visibility: hidden !important;
}

.game-id {
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 16px;
  margin: 0;
  transform: translate(-50%, 0);
  z-index: 10001;
}

.game-status {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3b82f6;
  z-index: 11000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 3px 3px #26a0da;
}

.game-battle-container {
  padding: 0;
  width: 100%;
  height: 100vh;
  padding: 16px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.game-battle-container .game-board {
  width: 100%;
  height: 100%;
}

.battle-container-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}

.player-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  text-align: center;
  font-size: 14px;
}

.player-box button {
  margin: 0 4px;
  width: auto;
  padding: 6px 12px;
}

.player-box button.ready {
  background-image: linear-gradient(to right, #314755 0%, greenyellow 100%);
  background-position: right center;
  opacity: 1;
}

.player-box button.button-ready,
.player-box button.button-running {
  background-image: linear-gradient(to right, #314755 0%, yellow 100%);
  background-position: right center;
}

.player-box button.button-quit {
  background-image: linear-gradient(to right, #314755 0%, orangered 100%);
  background-position: right center;
}

.battle-bar {
  flex: 1;
  background-color: orangered;
  position: relative;
  overflow: hidden;
}

.your-bar {
  width: 50%;
  height: 100%;
  transition: all 0.5s;
}

.your-bar > .point {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.battle-bar > .point {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.animated-blue-gradient {
  background: repeating-linear-gradient(
    to right,
    #26a0da 0%,
    #3b82f6 50%,
    #60a5fa 100%
  );
  background-size: 200% auto;
  background-position: 0 100%;
  animation: right-gradient 1.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.animated-red-gradient {
  background: repeating-linear-gradient(
    to left,
    orangered 0%,
    red 50%,
    tomato 100%
  );
  background-size: 200% auto;
  background-position: 0 100%;
  animation: left-gradient 1.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes left-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes right-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media screen and (max-width: 1024px) {
  .app {
    padding: 0;
  }
  .sidebar {
    height: auto;
    min-height: 100vh;
  }
  .col {
    height: calc(100vh - 110px);
  }
  .game-container {
    padding: 0;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "gameInfo" "gameBoard";
  }
  .game-board {
    width: 100vw;
    height: 100vh;
    border: 0;
  }
  .mobile-helper {
    display: block;
    color: #60a5fa;
    text-align: center;
  }
  .game-board .game-info .mobile-helper {
    display: none;
  }

  .max-screen-container {
    height: 100vh;
  }
  .chat-board {
    flex-direction: column;
    height: auto;
  }
  .chat-board .sidebar {
    order: 0;
  }
  .chat-board .game-board {
    order: 1;
  }
  .main-board {
    background-size: 200px auto;
    background-position: center 20px;
  }
  .game-battle-container {
    padding: 0;
  }
  .battle-container-bar {
    padding: 8px 4px;
    margin: 0;
  }
  .battle-bar {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    z-index: 111111;
  }
  .player-box {
    width: auto;
  }
}

@media screen and (max-width: 467px) {
  .row {
    flex-direction: column;
  }
  .active-players-box {
    flex-basis: 140px;
  }
  .player-box {
  }
}
